@import ../../style/base-settings

// RESET
.landing
    width: 100%
    display: flex
    justify-content: center
    flex-wrap: wrap
    &__title
        width: 100%
        border: 1px solid white
        padding: 30px
        text-align: center
    &__sion
        width: 50%
        border: 1px solid white
    &__text
        width: 100%
        line-height: 30px
        padding: 0px 90px 25px 90px
    &__image
        width: 100%
        padding: 40px 90px 20px 90px
    &__list
        width: 50%
        border: 1px solid white
        padding: 80px 100px
    &__credentials
        width: 50%
        border: 1px solid white
    &__form-container
        padding: 100px
    &__form
        display: flex
        flex-direction: column
        input
            margin-bottom: 10px
            padding: 5px
        button
            margin: 40px 0
            padding: 0px
            border-radius: 0px
            width: 100px
            &:focus
            &:hover
                background-color: #42C920
                color: White
